<div class="content">
    <div>
        <p class="header">Play Audio</p>
    </div>
    <div>
        <audio controls>
            <source src="<%= '/speech.mp3' %>" type=audio/mp3>
        </audio>
    </div>
</div>