<div class = "container">
<h2>New Intervention</h2>
<h3>Create New Intervention Item</h3>

<h4> Please select and fill all mandatory fields below.</h4>


<%= render 'form', intervention: @intervention %>

<%= link_to 'Back', interventions_path %>
<%= link_to 'Edit', interventions_path %>

<div>