<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

            <!-- TOP NAV -->
            <header id="topNav">
                <div class="container">

                    <!-- Mobile Menu Button -->
                    <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Logo -->
                    <a class="logo float-left scrollTo" href="#top">
                        <%= image_tag "R2.png" %>
                    </a>

                    <!-- 
                        Top Nav 
                        
                        AVAILABLE CLASSES:
                        submenu-dark = dark sub menu
                    -->
                    <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
                        <nav class="nav-main">

                            <!-- 
                                .nav-onepage
                                Required for onepage navigation links
                                
                                Add .external for an external link!
                            -->
                            <ul id="topMain" class="nav nav-pills nav-main nav-onepage row">
                                <li><!-- HOME -->
                                    <%= link_to 'HOME', '/mainPage' ,:class => 'navbar-link' %>
                                </li>
                                <li><!-- SERVICES -->
                                    <a href="#services">
                                        SERVICES
                                    </a>
                                </li>
                                <li><!-- WORK -->
                                    <a href="#portfolio">
                                        PORTFOLIO
                                    </a>
                                </li>
                                <li><!-- NEWS -->
                                    <a href="#news">
                                        NEWS
                                    </a>
                                </li>
                                <li><!-- CLIENTS -->
                                    <a href="#clients">
                                        CLIENTS
                                    </a>
                                </li>
                                <li><!-- CONTACT -->
                                    <a href="#contact">
                                        CONTACT
                                    </a>
                                </li>
                            </ul>

                        </nav>
                    </div>

                </div>
            </header>
            <!-- /Top Nav -->
        </div>